/* body {
  min-height: 3000px;
} */
.jumbotron {
  padding-top: 6rem;
  background-color: #70a395;
}

#projects,
#contact {
  background-color: #70a395;
}

#about,
#gallery {
  background-color: #c19c59;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
